/*================================================
------------------MEDIA QUERIES-------------------
================================================*/
/*====================================================
----------------------MIXINS--------------------------
=====================================================*/
@font-face {
  font-family: "century-gothicbold";
  src: url(../public/fonts/GOTHICB.TTF);
}

@font-face {
  font-family: "century-gothic";
  src: url(../public/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "bahnschrift";
  src: url(../public/fonts/bahnschrift.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*Equivalent to 10px*/
  scroll-behavior: smooth;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  overflow-x: hidden;
  font-family: "century-gothic", sans-serif;
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 25rem);
  position: relative;
  overflow-x: hidden;
}

.jumbotron .swiper-container {
  width: 100%;
  height: 100%;
}

.jumbotron .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.8;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide .content-box {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "century-gothic", sans-serif;
  text-transform: initial;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide .content-box h3 {
  width: auto;
  height: auto;
  margin-top: 5rem;
  padding: 0 1rem;
  position: relative;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide .content-box h3::after {
  content: "";
  width: 65%;
  height: 100%;
  padding-bottom: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-bottom: 0.18rem dotted white;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide .content-box h3 span {
  color: #088f57;
  font-family: "century-gothicbold", sans-serif;
}

.jumbotron .swiper-container .swiper-wrapper .swiper-slide .content-box p {
  width: auto;
  height: auto;
  padding: 1rem 3rem;
  text-indent: 2rem;
  font-size: 1.7rem;
  text-align: justify;
}

.jumbotron .swiper-container .swiper-pagination {
  width: 100%;
  height: 2rem;
  margin-bottom: 2rem;
}

.jumbotron .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 3rem;
  height: 1rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: transparent;
  border: 0.1rem solid white;
  opacity: 1;
}

.jumbotron .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}

.jumbotron .swiper-container .swiper-button-prev,
.jumbotron .swiper-container .swiper-button-next {
  display: none;
  width: 4rem;
  height: 8rem;
  top: 55%;
  color: white;
  background-color: #088f5778;
}

.burger {
  width: 6rem;
  height: 8rem;
  position: absolute;
  top: 48%;
  left: 85%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: 90;
}

.burger .cheese {
  width: 7rem;
  height: 45%;
  position: relative;
  cursor: pointer;
}

.burger .cheese .top,
.burger .cheese .meat,
.burger .cheese .bottom {
  box-shadow: 0rem 0.2rem 0.5rem #7c7979;
}

.burger .cheese .top {
  width: 100%;
  height: 0.75rem;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #088f57;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  overflow: hidden;
}

.burger .cheese .meat {
  width: 100%;
  height: 0.75rem;
  background-color: #088f57;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 834px) {
  .burger .cheese .meat {
    height: 1rem;
  }
}

.burger .cheese .bottom {
  width: 100%;
  height: 0.75rem;
  position: relative;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #088f57;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.burger .cheese .topbun-change {
  background-color: #088f57;
  top: 50%;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}

.burger .cheese .middle-change {
  opacity: 0;
}

.burger .cheese .bottombun-change {
  background-color: #088f57;
  top: 50%;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

.header {
  width: 100%;
  height: 15rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header .logTrackBurger-container {
  width: 100%;
  height: calc(100% / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logTrackBurger-container .log-track-wrapper {
  width: 65%;
  height: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-box {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.login-box .login-link {
  width: auto;
  height: auto;
}

.login-box .login-link::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #088f57;
  z-index: -1;
  overflow: hidden;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.login-box .login-link:hover::after {
  width: 100%;
}

.login-box .login-link:hover {
  color: white;
}

.login-modal {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: relative;
  color: white;
  font-family: "century-gothicbold", sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 95;
}

.login-modal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.9;
  z-index: -1;
}

.login-modal .account {
  margin-bottom: 2rem;
}

.login-modal input {
  margin-bottom: 1rem;
}

.login-modal input:placeholder-shown {
  width: 75%;
  height: 3rem;
}

.login-modal .modal-btn-box {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-modal .modal-btn-box .modal-btn {
  box-shadow: none;
}

.showModal {
  visibility: visible;
}

.btnMove {
  position: absolute;
  top: 25%;
  right: 8%;
}

.indexMove {
  z-index: 80;
}

.track-box {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.track-box .track-link {
  width: auto;
  height: auto;
}

.track-box .track-link::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #088f57;
  z-index: -1;
  overflow: hidden;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.track-box .track-link:hover::after {
  width: 100%;
}

.track-box .track-link:hover {
  color: white;
}

.track-modal {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: relative;
  color: white;
  font-family: "century-gothicbold", sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 95;
}

.track-modal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.9;
  z-index: -1;
}

.track-modal .account {
  margin-bottom: 2rem;
}

.track-modal input {
  margin-bottom: 1rem;
}

.track-modal input:placeholder-shown {
  width: 75%;
  height: 3rem;
}

.track-modal .modal-btn-box {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.track-modal .modal-btn-box .modal-btn {
  box-shadow: none;
}

.showModal {
  visibility: visible;
}

.indexMove {
  z-index: 80;
}

.title-main {
  width: 100%;
  height: 10rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
  text-align: justify;
}

.logo-wrapper {
  width: 90%;
  height: calc(100% / 2);
  margin: 0 auto;
}

.logo-wrapper .logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

hr {
  width: 90%;
  margin: 0 auto;
  border: none;
  border-top: 0.2rem dotted #088f57;
}

.btnBorder {
  width: auto;
  height: auto;
  position: relative;
  color: #088f57;
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 1.75rem;
  font-family: "century-gothicbold", sans-serif;
  border: 0.1rem solid #088f57;
}

.btnBorder .trackClose,
.btnBorder .loginClose {
  display: none;
  color: white;
}

.btnBorder .showX {
  display: block;
  font-size: 5rem;
  padding: 0.25rem;
}

.btnModalEffects {
  position: absolute;
  top: 25%;
  right: 8%;
  box-shadow: none;
  border: none;
  background-color: #088f57;
}

.textClose {
  display: none;
}

.btnFull {
  width: auto;
  height: auto;
  position: relative;
  color: white;
  text-decoration: none;
  background-color: #088f57;
  padding: 0.75rem 2rem;
  font-size: 1.75rem;
  font-family: "century-gothicbold", sans-serif;
  box-shadow: 0rem 0.2rem 0.5rem #7c7979;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.btnFull:hover {
  background-color: #09fd98;
  color: #050505;
}
/*# sourceMappingURL=styles.css.map */