footer {
  width: 100%;
  height: 10rem;
  padding: 2rem;
  position: relative;
  color: $color-lite;
  font-size: 1.25rem;
  text-transform: capitalize;
  background-color: $color-dark;
  @include flex-center;

  &::after {
    content: "";
    width: 90%;
    height: 100%;
    margin: 0 auto;
    @include absol-center;
    border-top: 0.2rem dotted $color-lite;
  }
}
