.header {
  width: 100%;
  height: 15rem;
  position: relative;
  @include flex-center-col;

  .logTrackBurger-container {
    width: 100%;
    height: calc(100% / 2);
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .log-track-wrapper {
      width: 65%;
      height: 100%;
      margin-left: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
