.jumbotron {
  width: 100%;
  height: 65vh;
  position: relative;
  overflow: hidden;

  .swiper-container {
    @include keep-it-hundo;

    .swiper-wrapper {
      @include keep-it-hundo;

      .swiper-slide {
        @include keep-it-hundo;
        position: relative;

        &::after {
          content: "";
          @include keep-it-hundo;
          @include absol-topLeftZero;
          background-color: $color-dark;
          opacity: 0.8;
        }

        img {
          @include keep-it-hundo;
          object-fit: cover;
        }

        .content-box {
          @include keep-it-hundo;
          color: $color-lite;
          font-family: $secondary-font;
          text-transform: initial;
          overflow-x: hidden;
          @include absol-topLeftZero;
          z-index: 10;

          h3 {
            width: auto;
            height: auto;
            margin-top: 5rem;
            padding: 0 1rem;
            position: relative;
            font-size: 2.25rem;
            margin-bottom: 1rem;

            &::after {
              content: "";
              width: 65%;
              height: 100%;
              padding-bottom: 1rem;
              @include absol-center;
              border-bottom: 0.18rem dotted $color-lite;
            }

            .moran {
              color: $color-green;
              font-family: $primary-font;
              font-size: 3rem;
            }
          }

          p {
            width: auto;
            height: auto;
            padding: 1rem 3rem;
            text-indent: 2rem;
            font-size: 1.7rem;
            text-align: justify;
          }
        }
      }
    }

    .swiper-pagination {
      width: 100%;
      height: 2rem;
      margin-bottom: 2rem;

      .swiper-pagination-bullet {
        width: 3rem;
        height: 1rem;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        background-color: transparent;
        border: 0.1rem solid $color-lite;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: $color-lite;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      width: 4rem;
      height: 8rem;
      top: 55%;
      color: $color-lite;
      background-color: #088f5778;
    }
  }
}

.space {
  width: 100%;
  height: 50rem;
  background-color: aquamarine;
}
