.login-box {
  width: calc(100% / 2);
  height: 100%;
  @include flex-center;
  z-index: 100;

  #login-link {
    color: $color-green;
    border: 0.1rem solid $color-green;
    background-color: transparent;
    box-shadow: none;
    @include text-shadowgray;
  }
}

.login-modal {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: relative;
  color: $color-lite;
  font-family: $primary-font;
  font-size: 3rem;
  @include absol-topLeftZero;
  @include flex-center-col;
  z-index: 95;

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-color: $color-dark;
    opacity: 0.9;
    z-index: -1;
  }

  .account {
    margin-bottom: 2rem;
  }

  input {
    margin-bottom: 1rem;
  }

  input:placeholder-shown {
    width: 75%;
    height: 3rem;
  }

  .login-btn-box {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .modal-btn {
      box-shadow: none;
    }
  }
}

.showModal {
  visibility: visible;
}

.btnMove {
  position: absolute;
  top: 25%;
  right: 8%;
}

.indexMove {
  z-index: 80;
}
