.services {
  height: auto;
  margin: 2rem auto 8rem;

  .service-wrapper {
    @include keep-it-hundo;
    @include flex-center;

    .service-ul {
      @include keep-it-hundo;
      @include flex-center-col;

      .service-box1,
      .service-box2 {
        font-size: 1.5rem;
        font-family: $tertiary-font;

        .service-li {
          width: 30rem;
          position: relative;
          padding: 1rem;
          list-style-type: none;
          color: $color-lite;
          opacity: 0;
          @include flex-center;
          @include transit3;
          background-color: $color-green;
          transform: translateX(-100vw);
          -webkit-transform: translateX(-100vw);
          -moz-transform: translateX(-100vw);
          -ms-transform: translateX(-100vw);
          -o-transform: translateX(-100vw);

          &:not(:last-child) {
            margin: 1rem auto;
          }
        }
      }
    }
  }
}

//**** ANIMATIONS FOR SERVICES CARDS ****

.slideLeft-One {
  animation: cardSlide 0.6s linear 0.4s both;
  -webkit-animation: cardSlide 0.6s linear 0.4s both;
}

/*********/

.slideLeft-Two {
  animation: cardSlide 0.6s linear 0.8s both;
  -webkit-animation: cardSlide 0.6s linear 0.8s both;
}

/*********/

.slideLeft-Three {
  animation: cardSlide 0.6s linear 1.2s both;
  -webkit-animation: cardSlide 0.6s linear 1.2s both;
}

/*********/

.slideLeft-Four {
  animation: cardSlide 0.6s linear 1.6s both;
  -webkit-animation: cardSlide 0.6s linear 1.6s both;
}

/*********/

.slideLeft-Five {
  animation: cardSlide 0.6s linear 2s both;
  -webkit-animation: cardSlide 0.6s linear 2s both;
}

/*********/

.slideLeft-Six {
  animation: cardSlide 0.6s linear 2.4s both;
  -webkit-animation: cardSlide 0.6s linear 2.4s both;
}

/*********/

.slideLeft-Seven {
  animation: cardSlide 0.6s linear 2.8s both;
  -webkit-animation: cardSlide 0.6s linear 2.8s both;
}

/*********/

.slideLeft-Eight {
  animation: cardSlide 0.6s linear 3.2s both;
  -webkit-animation: cardSlide 0.6s linear 3.2s both;
}

//**** KEYFRAMES FOR SERVICES CARDS ****

@keyframes cardSlide {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }
}
