.track-box {
  width: calc(100% / 2);
  height: 100%;
  @include flex-center;
  z-index: 100;

  .track-link {
    width: auto;
    height: auto;

    &::after {
      content: "";
      width: 0;
      height: 100%;
      @include absol-topLeftZero;
      background-color: $color-green;
      z-index: -1;
      overflow: hidden;
      @include transit3;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: $color-lite;
    }
  }

  .trackLinkFixed {
    position: fixed;
    top: 2%;
    right: 5%;
  }
}

.track-modal {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: relative;
  color: $color-lite;
  font-family: $primary-font;
  font-size: 3rem;
  @include absol-topLeftZero;
  @include flex-center-col;
  z-index: 95;
  position: fixed;

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-color: $color-dark;
    opacity: 0.9;
    z-index: -1;
  }

  .account {
    margin-bottom: 2rem;
  }

  input {
    margin-bottom: 1rem;
  }

  input:placeholder-shown {
    width: 75%;
    height: 3rem;
  }

  .modal-btn-box {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .modal-btn {
      box-shadow: none;
    }
  }
}

.showModal {
  visibility: visible;
}

.indexMove {
  z-index: 80;
}
