.btn {
  width: auto;
  height: auto;
  color: $color-lite;
  text-decoration: none;
  background-color: $color-green;
  padding: 0.75rem 2rem;
  font-size: 1.75rem;
  font-family: $primary-font;
  @include deep-shadow-graylite;
  @include transit3;

  &:hover {
    transform: translateY(8%);
    -webkit-transform: translateY(8%);
    -moz-transform: translateY(8%);
    -ms-transform: translateY(8%);
    -o-transform: translateY(8%);
  }

  .trackClose,
  .loginClose {
    display: none;
  }

  .showX {
    display: block;
    font-size: 5rem;
  }
}

.btnModalEffects {
  position: absolute;
  top: 25%;
  right: 8%;
  box-shadow: none;
}

.loginTextClose {
  display: none;
}
