.title-sections {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  font-size: 2.5rem;
  font-family: $primary-font;
  color: $color-dark;
  @include text-shadowgray-lite;
  @include flex-center;
}
